@model List<Azure.API.Models.WebJob>
@inject Alloc8_web.Utilities.Formatter.Formatter Formatter;
<style>
    @@keyframes rotateAnimation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .serviceRefreshAnimateButton {
        animation: rotateAnimation 2s linear infinite;
        transform-origin: center;
    }
</style>
<div class="row container" style="max-width:100%;">
    @if (Model != null && Model.Count() > 0)
    {
        int counter = 1;
        @foreach (var job in Model)
        {
            <div class="main_services col-12 col-md-4  col-lg-6 col-sm-6  col-xl-4" style="display: flex; padding: 2% 5%; ">
               
                <div style="position: relative;">
                    @if (job.name.Contains("Alloc8"))
                    {
                        <img src="/images/alloc8.jpg" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("Skedulo"))
                    {
                        <img src="~/images/skedulo.jpg" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("Assignar"))
                    {
                        <img src="/images/assignr.jpg" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("Asana"))
                    {
                        <img src="/images/AsanaLog.png" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("Hubspot"))
                    {
                        <img src="~/images/hubspot.png" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("Gsuite"))
                    {
                        <img src="/images/Gsuite.png" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("Microsoft 365"))
                    {
                        <img src="~/images/microsoft365.jpg" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("Reali-GsuiteConnector"))
                    {
                        <img src="/images/Gsuite.png" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("Xero"))
                    {
                        <img src="/images/xero.png" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("Simpro"))
                    {
                        <img src="/images/simpro.png" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("AhFencing-GDriveConnector"))
                    {
                        <img src="/images/google_drive.png" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("BB-ICalConnector"))
                    {
                        <img src="/images/ical.png" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("TSR-PDFScraper"))
                    {
                        <img src="/images/pdf_reader.png" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("Firefly-CapsuleConnector"))
                    {
                        <img src="/images/Artboard_1.png" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("SpannerPlumbing-FergusConnector"))
                    {
                        <img src="/images/fergus.png" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("Moonyah-FoundUConnector"))
                    {
                        <img src="/images/foundu.png" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }
                    else if (job.name.Contains("Moonyah-TraffioConnector"))
                    {
                        <img src="/images/traffio.png" width="12%" style="border-radius: 10%; width: 76px; height: 76px; object-fit: contain;" />
                    }

                    @if (job.properties?.status == "Running")
                    {
                        <span class="fa fa fa-2x fas fa-check-circle" text-success" style="position: absolute; right: -4px; top: -4px; color:#1ecab8;background-color: #ffff;border-radius: 52%;"></span>
                    }

                    else if (job.properties?.status == "Stopped")
                    {
                        <span class="fa-2x fas fa-exclamation-circle" text-success" style="position: absolute; right: -4px; top: -4px; color:#f93b7a; background-color: #ffff;border-radius: 52%;"></span>
                    }
                    else
                    {
                        <input type="text" value="1" hidden />
                        <span class="fa-2x fas fa-refresh" text-success" style="position: absolute; right: -4px; top: -4px; color:orange; background-color: #ffff;border-radius: 52%;"></span>
                    }

                </div>

                <div style="display: flex; flex-direction: column; align-items: start; margin-left: 20px;">
                    <div>
                        <span class="service-status" data-counter="@counter">

                            @if (job.properties?.status == "Running")
                            {
                                <span class="badge badge-boxed" style="padding: 2px 0px; display: inline-block; margin: 0 0 8px 0;color:#1ecab8;font-size:12px;">Running</span>

                            }

                            else if (job.properties?.status == "Stopped")
                            {
                                <span class="badge badge-boxed" style="padding: 2px 0px; display: inline-block; margin: 0 0 8px 0;font-size:12px;color:#f93b7a">Stopped</span>
                            }
                            else
                            {
                                <span class="badge badge-boxed badge-soft-warning" style="padding: 2px 0px; display: inline-block; margin: 0 0 8px 0;font-size:12px;">@job.properties?.status</span>
                            }

                        </span>
                        <span class="button-container" style="padding: 2px 4px; display: inline-block; margin: 0 0 8px 0;">

                            @if (job.properties?.status == "Stopped")
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256" class="serviceRefreshButton text-center" data-counter="@counter" data-job-name="@job.properties.name">
                                    <g fill="#1ecab8" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" text-anchor="none" style="mix-blend-mode: normal">
                                        <g transform="scale(8.53333,8.53333)">
                                            <path d="M15,3c-2.94691,0 -5.67058,1.08978 -7.74414,2.83594c-0.27716,0.2291 -0.40998,0.58936 -0.34789,0.94355c0.0621,0.35419 0.30956,0.64777 0.64813,0.76892c0.33857,0.12115 0.71611,0.05121 0.98882,-0.18317c1.72644,-1.45384 4.00199,-2.36523 6.45508,-2.36523c5.22661,0 9.45668,3.91362 9.95117,9h-2.95117l4,6l4,-6h-3.05078c-0.508,-6.16514 -5.65128,-11 -11.94922,-11zM4.30078,9l-4,6h2.69922c0,6.63552 5.36448,12 12,12c2.94691,0 5.67058,-1.08978 7.74414,-2.83594c0.27717,-0.2291 0.41,-0.58936 0.3479,-0.94356c-0.0621,-0.35419 -0.30957,-0.64778 -0.64814,-0.76893c-0.33857,-0.12115 -0.71612,-0.0512 -0.98883,0.18319c-1.72644,1.45384 -4.00199,2.36523 -6.45508,2.36523c-5.56448,0 -10,-4.43552 -10,-10h3.30078z"></path>
                                        </g>
                                    </g>
                                </svg>
                            }
                            else
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256" class="serviceDisabledButton text-center" data-counter="@counter" data-job-name="@job.properties.name" disabled style="cursor: not-allowed; opacity: 0.5;">
                                    <g fill="#1ecab8" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" text-anchor="none" style="mix-blend-mode: normal">
                                        <g transform="scale(8.53333,8.53333)">
                                            <path d="M15,3c-2.94691,0 -5.67058,1.08978 -7.74414,2.83594c-0.27716,0.2291 -0.40998,0.58936 -0.34789,0.94355c0.0621,0.35419 0.30956,0.64777 0.64813,0.76892c0.33857,0.12115 0.71611,0.05121 0.98882,-0.18317c1.72644,-1.45384 4.00199,-2.36523 6.45508,-2.36523c5.22661,0 9.45668,3.91362 9.95117,9h-2.95117l4,6l4,-6h-3.05078c-0.508,-6.16514 -5.65128,-11 -11.94922,-11zM4.30078,9l-4,6h2.69922c0,6.63552 5.36448,12 12,12c2.94691,0 5.67058,-1.08978 7.74414,-2.83594c0.27717,-0.2291 0.41,-0.58936 0.3479,-0.94356c-0.0621,-0.35419 -0.30957,-0.64778 -0.64814,-0.76893c-0.33857,-0.12115 -0.71612,-0.0512 -0.98883,0.18319c-1.72644,1.45384 -4.00199,2.36523 -6.45508,2.36523c-5.56448,0 -10,-4.43552 -10,-10h3.30078z"></path>
                                        </g>
                                    </g>
                                </svg>
                            }

                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256" class="serviceRefreshAnimateButton text-center" style="display:none;" data-counter="@counter">
                                <g fill="#1ecab8" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" text-anchor="none" style="mix-blend-mode: normal">
                                    <g transform="scale(8.53333,8.53333)">
                                        <path d="M15,3c-2.94691,0 -5.67058,1.08978 -7.74414,2.83594c-0.27716,0.2291 -0.40998,0.58936 -0.34789,0.94355c0.0621,0.35419 0.30956,0.64777 0.64813,0.76892c0.33857,0.12115 0.71611,0.05121 0.98882,-0.18317c1.72644,-1.45384 4.00199,-2.36523 6.45508,-2.36523c5.22661,0 9.45668,3.91362 9.95117,9h-2.95117l4,6l4,-6h-3.05078c-0.508,-6.16514 -5.65128,-11 -11.94922,-11zM4.30078,9l-4,6h2.69922c0,6.63552 5.36448,12 12,12c2.94691,0 5.67058,-1.08978 7.74414,-2.83594c0.27717,-0.2291 0.41,-0.58936 0.3479,-0.94356c-0.0621,-0.35419 -0.30957,-0.64778 -0.64814,-0.76893c-0.33857,-0.12115 -0.71612,-0.0512 -0.98883,0.18319c-1.72644,1.45384 -4.00199,2.36523 -6.45508,2.36523c-5.56448,0 -10,-4.43552 -10,-10h3.30078z"></path>
                                    </g>
                                </g>
                            </svg>



                        </span>
                    </div>
                   @*  <span style="font-size:12px;">@Formatter.time.human(job.properties.latest_run.start_time)</span> *@
                    <span style="font-size:12px;">@job.location</span>
                </div>
            </div>
            counter++;
        }

    }
    else
    {
        <span class="text-center form-control" style="background-color:#f93b7a; color:white;">No Data Found!</span>
    }


</div>

<script>
    $(document).ready(function () {
        $('.service-status').each(function () {
            if (($(this).find('.badge').text().trim() === 'Disabling' || $(this).find('.badge').text().trim() === 'Stopped') && $('.serviceTileLoadStatus').attr('data-loaded') != 'true') {
                loadData();
                $('.serviceTileLoadStatus').attr('data-loaded', 'true'); 
            }
        });

        function loadData() {
            var organisationId = "";
            if ($("select[name='orginationId']").length > 0) {
                organisationId = $("select[name='orginationId']").val();
            } else {
                organisationId = $("#serviceStatus").attr("data-OrganisationId");
            }
            $.ajax({
                url: "/Dashboard/getService?organisation=" + organisationId,
                type: "GET",
                dataType: "html",
                beforeSend: function () {
                    loader.add($("#serviceStatus").parent().parent());
                },
                success: function (data) {
                    $("#serviceStatus").html(data);
                },
                error: function (error) {
                    console.error("Error occurred: " + error.statusText);
                },
                complete: function () {
                    loader.remove($("#serviceStatus").parent().parent());
                }

            });
        }
        $(document).on('click', '.serviceRefreshButton', function () {
            var counter = $(this).data('counter');
            handleRefreshButton(counter);
        });
        function handleRefreshButton(counter) {

            var refreshButton = $('.serviceRefreshButton[data-counter="' + counter + '"]');
            var animateButton = $('.serviceRefreshAnimateButton[data-counter="' + counter + '"]');
            var statusElement = $('.service-status[data-counter="' + counter + '"]');
            var jobName = refreshButton.data('job-name');

            animateButton.show();
            refreshButton.hide();

            statusElement.html(' <span class="badge badge-boxed badge-soft-warning service-status" style="padding: 2px 4px; display: inline-block; margin: 0 0 8px 0;">Refreshing</span>');

            $.ajax({
                url: '/Dashboard/triggerWebJob',
                method: 'GET',
                data: {
                    webJob: jobName,
                },
                success: function (data) {
                    animateButton.hide();
                    refreshButton.show();
                    if (data.status == 200) {
                        $('.serviceTileLoadStatus').attr('data-loaded', 'false');
                        loadData();
                    }
                },
                error: function (error) {


                }
            });


        }
    });
   
</script>


